.movie-info-container {
    justify-content: space-between;
    display: flex;
    height: 100%;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    color: #ffffff;
    background-color: var(--color-2);
    cursor: pointer;


    .movie-info-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .movie-title {
            width: 100%;
            font-size: 150%;
            padding-top: 15px;
            padding-bottom: 15px;
            text-align: center;
            height: 2em;
            // white-space: nowrap;
            // overflow: hidden;
            // text-overflow: ellipsis;
        }
    }

}

.movie-info-container img {
    height: 100%;
}